.container
  %h1 Listing institutions
  %table
    %thead
      %tr
        %th Name
        %th Type
        %th Website
        %th Review
        %th{:colspan => "3"}
    %tbody
      - @institutions.each do |institution|
        %tr
          %td= link_to institution.name, institution
          %td= institution.type
          %td= link_to institution.website, institution.website, target: '_blank'
          -if institution.reviews.length > 0
            %td= link_to "Available", institution
          -else
            %td= link_to 'None', institution 
  %br/
  - if user_signed_in? 
    = link_to 'New Institution', new_institution_path


