.container
  %p#notice= notice
  %p
    %strong Name:
    = @institution.name
  %p
    %strong Type:
    = @institution.type
  %p
    %strong Length:
    = @institution.length
  %p
    %strong Role:
    = @institution.role
  %p
    %strong Website:
    = @institution.website
  %p
    = "Quality of Instructors: #{@institution.review.quality_of_instructors}"
  %p
    = "Length of Instruction: #{@institution.review.length_of_instruction}"
  %p
    = "Content of Instruction: #{@institution.review.content_of_instruction}"
  %p
    = "Quantity of Instruction: #{@institution.review.quality_of_instruction}"
  %p
    = "Course work: #{@institution.review.course_work}"   
  %p
    = "Remark for review: #{@institution.review.remark}"
  - if user_signed_in? && current_user.id == @institution.user_id
    = link_to 'Edit', edit_institution_path(@institution)
    |
  \#{link_to 'Back', institutions_path}
