.container
  %p#notice= notice
  - if @institution.reviews.length > 0
    %p
      - @num.times do
        =image_tag "star-on-ave.png"
      - (5 - @num).times do
        =image_tag "star-off-ave.png"

  - else 
    - 5.times do
      =image_tag "star-off-ave.png"
  %p
    %h2= @institution.name
    %strong Type:
    = @institution.type
    %br
    %strong Length:
    = "#{@institution.length} #{@institution.measure}"
    %br
    %strong Website:
    = link_to @institution.website, @institution.website, target: "_blank"

  - if @institution.reviews.length > 0
    %p 
      %strong Rating:
      #user_star
    - @institution.reviews.each do |review|
      %p
        - review.score.to_i.times do
          =image_tag "star-on.png"
        %br
        %strong #{review.user.username.capitalize} rated as #{review.role}, #{time_ago_in_words(review.created_at)} ago
        %br
        %strong=link_to review.title, institution_review_path(review.institution_id, review.id) 
        %br
        = review.remark

  - if user_signed_in?
    %p= link_to 'Create Review', new_institution_review_path(@institution)

    - if current_user.id == @institution.user_id
      = link_to 'Edit', edit_institution_path(@institution)
      |
      = link_to 'Delete', @institution, method: :delete, data: { confirm: 'Are you sure?' }
      |
  \#{link_to 'Back', institutions_path}

/ Go to www.addthis.com/dashboard to customize your tools
%script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53a8ce42159f684b", type: "text/javascript"}