.container
  %p#notice= notice 
  %p
    %h2= @institution.name
    %strong Type:
    = @institution.type
    %br
    %strong Length:
    = "#{@institution.length} #{@institution.measure}"
    %br
    %strong Role:
    = @institution.role
    %strong Website:
    = link_to @institution.website, @institution.website, target: "_blank"

  - if @institution.reviews.length > 0
    %p 
      %strong Rating:
      #user_star
    - @institution.reviews.each do |review|
      %p
        - review.score.to_i.times do
          =image_tag "star-on.png"
        %br
        %strong by #{review.user.username} #{time_ago_in_words(review.created_at)} ago
        %br
        %strong=link_to review.title, review_path(review) 
        %br
        = review.remark

  - if user_signed_in?
    %p= link_to 'Create Review', new_review_path

    - if current_user.id == @institution.user_id
      = link_to 'Edit', edit_institution_path(@institution)
      |
      = link_to 'Destroy', @institution, method: :delete, data: { confirm: 'Are you sure?' }
      |
  \#{link_to 'Back', institutions_path}

:javascript
  $(document).ready( function() {
    $('body').addClass( 'test' );
    
    }
  });