= simple_form_for @review do |f|
  - if @review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :title, placeholder: "Enter title"
    = f.input :score, placeholder: "select 1 - 5"
    = f.input :remark, placeholder: "Explain if numbers don't do it alone..."
  / .field
  /   = f.label :institution_id, 
  /   = f.number_field :institution_id, placeholder: ""
  .actions
    = f.submit 'Save'
