= simple_form_for @review, url: institution_reviews_path(@review.institution), :html => {:class => 'pure-form' } do |f|
  - if @review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :title, placeholder: "Enter title", label: false
    = f.input :role, collection: ['student', 'instructor', 'employee'], prompt: "Review as", label: false
    = f.input :score, collection: 1..5, prompt: "Select your rating", label: false
    = f.input :remark, placeholder: "Explain if numbers don't do it alone...", label: false
  .actions
    %br
    = f.submit 'Save', class: ["pure-button", "pure-button-primary"]