!!!
%html
  %head
    %title RaterJoe
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %nav
        %ul.devise_navigation
          - if user_signed_in?
            %li= link_to  'Home', root_path
            %li= link_to 'Create review', new_institution_path
            %li= link_to 'View Reviews', institutions_path 
            %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'
          - else
            %li= link_to  'Home', root_path
            %li= link_to 'View Reviews', institutions_path
            %li= link_to 'Sign in', new_user_session_path
            %li= link_to 'Sign up', new_user_registration_path

    .clear_top
    .alert= alert
    .notice= notice
    = yield
    .clear_bottom
    %footer
      %ul
        %li= link_to 'Home', root_path
        %li= link_to 'About us', '#'
        %li= link_to 'Blog', '#'
        %li= link_to 'Contact us', '#'
